body {
    width: 100%;
    margin: 0;
    background-image: url(../image/backgrounds/Background-oscuro.jpeg);
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.imginput{
    opacity: 0.2;
}
/*///////////////// ///////////////////////*/

main {
    width: 100%;
  
    box-sizing: border-box;
    margin: auto;
  
}

#logo {
    width: 150px;
    margin-top: 60px;
}
.slyder{
margin: 8px;
border:rgba(253, 251, 251, 0.7) 6px solid  ;
border-radius: 2px;
}

.slyder img{
    border-radius: 2px;
    width: 100%;
 
    
    }

#slayder2{
    display: none;
}

.menupelotasmovil{
    display: none;
}
.menupelotas{
    box-sizing: border-box;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
}
a{
    text-decoration: none;
    outline:none;
}
.bolasDeMenu{
    width: 150px;
    transition: 900ms;
}
#bola4{
    z-index: 24;
    position: fixed;
    opacity: 0.7;
}
.bolasDeMenu:hover {
 opacity: 0.90;
    transform: scale3d(1.06, 1.08, -3);
} 


/*///////////////////////       ////////////////////////*/

.efecto_imagen, .efecto_imagenPointer {
    border: solid rgba(29, 23, 9, 0.582) 3px;
    border-radius: 6px;
    padding: 5px;
    width: 400px;
    height: 240px;
    margin: 7px;
    margin-top: 24px;
    margin-bottom: 12px;
    transition: 800ms;
}

.efecto_imagen:hover {
    border: solid rgba(0, 0, 0, 0.739) 3px;
    border-radius: 3px;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.75);
    transform: scale(1.01, 1.0);
}

.efecto_imagenPointer:hover {
    cursor: pointer;
    border: solid rgba(245, 200, 3, 0.514) 3px;
    border-radius: 3px;
    box-shadow: 3px 7px 12px rgba(0, 0, 0, 0.75);
    transform: scale(1.03, 1.03);
}


.footer{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
footer img {
    width: 180px;
}

.footer h6{
    color: #ffffff;

}



h1 {
    font-family: 'Spartan', sans-serif;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
    color:#ffffff;
    font-weight: 800;
}
h4{
    font-family: 'Spartan', sans-serif;
    color: #333333;
}

/*/////////////////////VIDEOS ////////////*/

.galeriaVideos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
}


.videosCards{
    margin-left: 20px;
    margin-right: 20px;
}

.boxBlue{
    border-radius: 6px;
    text-align: center;
    color: #333333;
    margin: 10px;

    background-color: rgba(253, 251, 251, 0.7);
    box-sizing: border-box;
    
}
/*//////////////////////    INFO    ///////////////////*/


.information{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row ;
    justify-content: center;
    box-sizing: border-box;
    height: auto;
}

.information h3{
    padding-top: 10%;
    padding-bottom: 4%;
    color:#333333;
    font-weight: bold;
    font-size: 23px;
}
.infobox{
    padding-bottom: 2%;
}
.videoDeInfo{
   padding-bottom: 10%;
   padding-top: 3%;
}
#reglasBox1 {   
    width: 50%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
    border: solid 6px rgba(41, 39, 59, 0.211);
    border-radius: 5px;
}
#reglasBox1 h3{
    font-size: 26px;
    color: #333333;
}
#reglasBox1 p{
    font-size: 19px;
    padding:0px 3% 0px 2.2%;
    color: #333333;
}


#reglasBox3{
    width: 50%;
    height: auto;
}
#reglasBox3 p{
    text-align: left;
    font-size: 18px;
    color:#333333;
    margin-bottom: 0px !important;
    padding-left: 5%;
}

#reglasBox3 span{
    font-size: 36px;
    font-weight: bolder;
}


#conamor2{display: none;}

/*ZZZZOOOOOOOOOOOOOOOOOOOMMMMMMMMMMMMMM/*/

.zoom{
    display: block;
}
#saladereunion{
    display: block;
}
/*ZZZZOOOOOOOOOOOOOOOOOOOMMMMMMMMMMMMMM/*/

.zoom{
   border: rgba(223, 173, 35, 0.733) solid 2px;
    width: 27%;
    height: auto;
    text-decoration: none;
    padding: 16px;
    background-color: rgb( 255, 255, 255);

}
.zoom h4{
    text-decoration: none;
   color: #16102b;
    font-weight: bolder;
    margin-top: 10px;
    font-size: 122%;
}

.zoom a{
    text-decoration: none;
}

.contenedorzoom{
  padding-top: 10px;
  padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}
#vivo{
    
    animation: change 1s linear infinite alternate both;
}
/* 
@keyframes change {
    0%{background:rgb(218, 126, 65)}
    50%{background:rgb(230, 144, 88)}
    100%{background:rgb(241, 70, 40)}
} */

.zoom:hover{
    background-color: rgba(85, 66, 14, 0.527);
    border: rgba(223, 173, 35, 0.733) solid 2px;
}

.yogaAoVivo{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    height: fit-content;
  
}
 #yoga1 , #yoga2{
     width: 120px;
     height: 35px;
     margin-right: 10px;
     margin-bottom: 14px;
     border: rgba(223, 173, 35, 0.733) solid 2px;
     text-decoration: none;
    border-radius: 4px;
     background-color: rgb( 255, 255, 255);
     padding: 0.5%;
     box-sizing: border-box;
     transition: 1s;
    
   
 }

#yoga1:hover{
    transform: scale3d(1.05, 1.05, 1);
    
    background-color: rgba(85, 66, 14, 0.527);
    border: rgba(223, 173, 35, 0.733) solid 4px; 
    
   
}

/* #yoga2 :hover{
    background-color: rgba(85, 66, 14, 0.527);
    border: rgba(223, 173, 35, 0.733) solid 2px; 
} */
 .yogaAoVivo h4{
     padding-top: 3px;
     font-size: 22px;
 }


    